body{
    background-color: rgb(54, 38, 39);
}

/* https://stackoverflow.com/questions/10522137/allowing-for-overflow-on-the-y-axis-while-hiding-overflow-on-the-x-axis */
header{
    background-image: linear-gradient(to top, rgb(54, 38, 39, 0), rgb(54, 38, 39, 1));
}

#cover-page{
    position: relative;
    overflow: visible;
}

#cover-page .plaid-cover{
    position: absolute;
    z-index: -1000;
    margin: -600px auto;
    width: 100%;
} 



#cover-page .page-title{
    font-size: 150px;
    display: block;
    margin: 100px auto;
    text-align: center;
    color: rgb(239, 233, 80);
}

#info {
    width: 30%; 
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid yellow; 
    text-align: center; 
}

#info a{
    text-decoration: none;
    color:rgb(239, 233, 80) ;
}

#info a:hover{
    text-decoration: underline;
    color:rgb(239, 233, 80) ;
}

#info   p{
    font-size: 24px;
}