
html{
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden ;
}
body{
    margin: 0;
}

nav{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(96,29,29,1));
    height: 120px;
    padding: 0;

}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
nav ul li a{
    color: rgb(236, 232, 130);
    text-decoration: none;
    font-size: 24px;
    margin: 10x 10px 0px 10px;
}

nav ul li a img{
    width: 70px;
}

#footer {
    margin-top: 80px;
    background-color:rgb(236, 232, 130) ;
}
#footer img{
    display: block;
    margin: 0 auto;
    width: 70px
}